<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title>DEC112 API services</title>

	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="DEC112 API services based on node.js">
    <meta name="author" content="Richard Prinz">

    <link type="text/css" href="assets/css/app.css" rel="stylesheet">
	<script type="text/javascript" charset="utf8" src="assets/js/app.js"></script>
</head>
<body>
	<div id="mainDiv" class="container-fluid">
		<div class="row page-header" style="margin:0px">
			<div class="col-xs-6" style="display:flex;padding-left:0px">
				<div style="float:left;background-color:white;display:flex">
					<img style="width:150px;height:150px;"
						src="assets/images/api-logo-100x100.png">
				</div>
				<div style="padding-left:20px">
					<h1>DEC112-API</h1>
					Deaf Emergency Call (112) backend API built with node.js<br>
					Copyright(c) 2017 <a href="mailto:richard.prinz@min.at?subject=dec112-api">richard.prinz@min.at</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<p>
				<table class="main-bar">
					<tr>
						<td><a class="btn btn-default btn-main-bar"
							href="/downloads"
							role="button">Downloads</a></td>
						<td><a class="btn btn-default btn-main-bar"
							href="/api"
							role="button">API</a></td>
						<td><a class="btn btn-default btn-main-bar"
							href="http://dec112.ddns.net"
							role="button">Call Center</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>